
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="about section" id="home">
    <div class="about__container grid">
      <img src="{% static 'images/logo.png' %}" alt="">

      <div class="about__data">
        <h1 class="about__title">About</h1>
        <p class="about__description">Welcome to E-commerce, your ultimate online shopping destination. At E-commerce, we curate a diverse selection of high-quality products, bringing the joy of shopping right to your fingertips. Our mission is to provide a seamless and enjoyable shopping experience for our customers, offering a wide range of products from fashion and electronics to home essentials. With a commitment to customer satisfaction and convenience, E-commerce strives to redefine the way you shop online. Discover the latest trends, find exclusive deals, and indulge in a hassle-free shopping journey with E-commerce – where your satisfaction is our priority.</p>

        
      </div>
    </div>
  </section>
{% endblock %}
