<!-- myapp/templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- This is the HTML part -->

<div class="slideshow-container">
  <div class="slide">
    <a href="https://www.bing.com/">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/585a93b0ebfd39c2.jpg?q=20" alt="Banner 1" style="width:100%">
    </a>
  </div>
  <div class="slide">
    <a href="https://www.microsoft.com/">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/f707008dc786723e.jpg?q=20" alt="Banner 2" style="width:100%">
    </a>
  </div>
  <div class="slide">
    <a href="https://www.github.com/">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/fd68bbdcaea79197.jpg?q=20" alt="Banner 3" style="width:100%">
    </a>
  </div>
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>

<div class="item-container">
    <div class="item-card">
      <span class="item-card__price">₹7,497</span>
      <img class="item-card__image" src="https://m.media-amazon.com/images/I/41bXBIK0t4S._SX300_SY300_QL70_FMwebp_.jpg">
      <h1 class="item-card__title">Fossil Grant Analog Blue Dial Men's Watch-FS5151</h1>
      <hr />
      <p>Dial Color: Blue, Case Shape: Round
        Band Color: Brown, Band Material: Leather
        Watch Movement Type: Quartz, Watch Display Type: Chronograph
        Case Material: Stainless Steel, Bezel Material: Stainless Steel
        2 years manufacturing warranty</p>
      <div class="button-container14">
        <a href="#" class="btn-custom1">Add to Cart</a>
        <a href="#" class="btn-custom">Buy Now</a>
      </div>
    </div>

    <div class="item-card">
      <span class="item-card__price">₹19,999</span>
      <img class="item-card__image" src="https://m.media-amazon.com/images/I/41Xe96WtZoL._SX300_SY300_QL70_FMwebp_.jpg">
      <h1 class="item-card__title">OnePlus Nord CE 3 Lite 5G (Pastel Lime, 8GB RAM, 128GB Storage)</h1>
      <hr />
      <p>Camera: 108 MP Main Camera with EIS; 2MP Depth-Assist Lens and 2MP Macro Lens; Front (Selfie) Camera: 16MP</p>
      <div class="button-container14">
        <a href="#" class="btn-custom1">Add to Cart</a>
        <a href="#" class="btn-custom">Buy Now</a>
      </div>
    </div>

    <div class="item-card">
      <span class="item-card__price"> ₹1,02,000</span>
      <img class="item-card__image" src="https://m.media-amazon.com/images/I/41V1SbWWUzL._SX300_SY300_QL70_FMwebp_.jpg">
      <h1 class="item-card__title">ASUS TUF Gaming F15 (2023)</h1>
      <hr />
      <p>Processor: 12th Gen Intel Core i7-12700H Processor 2.3 GHz (24M Cache, up to 4.7 GHz, 14 cores: 6 P-cores and 8 E-cores)</p>
      <div class="button-container14">
        <a href="#" class="btn-custom1">Add to Cart</a>
        <a href="#" class="btn-custom">Buy Now</a>
      </div>
    </div>

    <div class="item-card">
      <span class="item-card__price"> ₹26,599</span>
      <img class="item-card__image" src="https://m.media-amazon.com/images/I/51E72IUaLML._SY300_SX300_QL70_FMwebp_.jpg">
      <h1 class="item-card__title">Philips 109.3 cm (43 inches) 4K UHD LED Smart TV 43PUT7791/V7 (Black) (2016 model)</h1>
      <hr />
      <p>4K UHD (Resolution: 3840x2160), Refresh Rate: 30Hz hertz
        Connectivity - Input: 3*HDMI, 1*USB, 1*VGA
        Audio: 20 W output</p>
        <div class="button-container14">
          <a href="#" class="btn-custom1">Add to Cart</a>
          <a href="#" class="btn-custom">Buy Now</a>
        </div>
    </div>

    <div class="item-card">
      <span class="item-card__price">₹1,249</span>
      <img class="item-card__image" src="https://m.media-amazon.com/images/I/31Nk80-hUUL.jpg">
      <h1 class="item-card__title">CP PLUS 2MP Full HD Smart Wi-Fi CCTV Home Security Camera </h1>
      <hr />
      <p>1080P Full HD Video: Designed to represent an enhanced picture quality in full HD video so that every detail can be viewed with vivid clarity and a pixilated video feed can be avoided.</p>
      <div class="button-container14">
        <a href="#" class="btn-custom1">Add to Cart</a>
        <a href="#" class="btn-custom">Buy Now</a>
      </div>
    </div>

    <div class="item-card">
      <span class="item-card__price">₹559</span>
      <img class="item-card__image" src="https://m.media-amazon.com/images/I/41ML8ZbPiiL._SY300_SX300_QL70_FMwebp_.jpg">
      <h1 class="item-card__title">SanDisk Ultra® microSDXC UHS-I Card, 64GB, 140MB/s R, 10 Y Warranty, for Smartphones</h1>
      <hr />
      <p>Expand your storage in a flash: ideal for Android smartphones and tablets, and Windows laptops.
        Up to 140MB/s transfer speeds to move up to 1000 photos per minute</p>
        <div class="button-container14">
          <a href="#" class="btn-custom1">Add to Cart</a>
          <a href="#" class="btn-custom">Buy Now</a>
        </div>
    </div>


</div>





{% endblock %}
